
<br><br>
<div class="container" style="background-color: #00000052;">
  <br><h2> <%= @artist.name %> </h2>
  <br>
  <div class="row">

    <div class="col-1"></div>
    <div class="col-4">
      <%= image_tag @artist.image, :class=> "thumbnail"  %>

    </div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-4">
      <% @samples.each do |sample| %>
        <div>
         <ul>
           <li>
            <strong>Sample Name:</strong><%= sample.name %> </li>
            <li><strong>Key:</strong><%= sample.musicalkey %></li>
            <li><strong>BPM:</strong><%= sample.BPM %></li>
         </ul>

         </div>
         <div>
             <audio controls="controls" src="/assets/<%=sample.name%>.wav"></audio>
          </div>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>
  <br>
</div>
