<div class="artist-samples-container">
  <h2> <%= @artist.name %> </h2>
    <div class= "artist-sample-container"> 
    <h2> <%= @artist.name %> </h2>
     <% if @artist.image.present? %>
      <div class= "artist-img"> 
         <%= image_tag @artist.image, :class=> "thumbnail"  %>
      </div>
      <% end %>
      <div class= "artist-sample-info-container"> 
        <% @samples.each do |sample| %>
          <div class= "sample-info-container">
            <div class="sample-info">
              <ul>
                <li>
                  <span> Sample Name: </span> <%= sample.name %>
                </li>
                <li>
                  <span> Key: </span> <%= sample.musicalkey %>
                </li>
                <li>
                  <span> BPM: </span> <%= sample.BPM %> 
                </li>
              </ul>
            </div>
            <div>
                <audio controls="controls" src="/assets/<%=sample.name%>.wav"></audio>
            </div>
          </div>
        <% end %>  
      </div>
    </div>
</div>
