
<div class="search">
  <%= form_tag samples_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag ("search"), :name => nil %>
  <% end %>
</div>

<div class="sample-header">
    <div class="sample-name"><strong>Name</strong> </div>
    <div class="instrument-name"><strong>Instrument</strong></div>
    <div class="artist-name"><strong>Artist</strong></div>
    <div class="key"><strong>Key</strong></div>
    <div class="bpm"><strong>BPM</strong></div>
    <div class="audio"><strong>Audio</strong></div>
</div>

<div class="samples-container">
  <% @samples.each do |sample| %>
    <div class="sample-container" style="background-color: #00000052;">
        <div class="sml-name">
          <%= sample.name %>
        </div>
        <div class="ins-name">
          <% if sample.instrument_id.present? %>
            <%= sample.instrument.name %>
          <% end %>
        </div>
        <div class="art-name">
          <% if sample.artist_id.present? %>
            <%= sample.artist.name %>
          <% end %>
        </div>
        <div class="sml-key">
          <%= sample.musicalkey %>
        </div>
        <div class="sml-bpm">
          <%= sample.BPM %>
        </div>
        <div class="sml-audio">
          <audio  class="audio-container" controls="controls" src="/assets/<%=sample.name%>.wav"></audio>
        </div>
    </div>
  <% end %>

</div>
