<div>
  <%= image_tag @instrument.image, :class => "feature" %>
</div>
<h2>
  Samples: <%= @instrument.name %>
</h2>

<% @samples.each do |sample| %>

  <div>
    <strong>Instrument</strong> <%= @instrument.name %>
    <strong>Country:</strong> <%= @instrument.country %>
  </div>


   <div>

     <ul>
       <li><strong>Sample Name:</strong><%= sample.name %> </li>
       <li><strong>Key:</strong> <%= sample.musicalkey %></li>
     </ul>
   </div>
   <div>
       <audio controls="controls" src="/assets/<%=sample.name%>.wav"></audio>
    </div>

<% end %>
