<div class="instrument-samples-container">
  <h2> <%= @instrument.name %> </h2>
    <div class= "instrument-sample-container"> 
     <% if @instrument.image.present? %>
      <div class= "instrument-img"> 
         <%= image_tag @instrument.image, :class => "thumbnail" %>
      </div>
      <% end %>
      <div class= "instrument-sample-info-container"> 
        <% @samples.each do |sample| %>
          <div class= "sample-info-container">
            <div class="sample-info">
              <ul>
                <li>
                  <span> Sample: </span> <%= sample.name %>
                </li>
                <li>
                  <span> Key: </span> <%= sample.musicalkey %>
                </li>
              </ul>
            </div>
            <div>
                <audio class="audio-container" controls="controls" src="/assets/<%=sample.name%>.wav"></audio>
            </div>
          </div>
        <% end %>  
      </div>
    </div>
</div>