<h1>CREATE A NEW SAMPLEAST ACCOUNT</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |er| %>
     <li>
       <%= er %>
     </li>
     <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :required => true %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%=f.label :password %>
  <%=f.password_field :password, :required =>true %>
  <%=f.label :password_confirmation %>
  <%=f.password_field :password_confirmation, :required =>true %>
  <%= f.submit "Create"%>
<% end %>
Have an acount? <%=link_to "SIGN IN HERE", login_path  %>
